*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}

.contenedor-padreHeader1{
    display: flex;
    justify-content: space-between;
    background-color: #222222;
    color:#F3F3F3;
}

.Texto-Ofertas{
    font-size: 18px;
    font-weight: 400;
    padding-left: 90px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.contenedor-navHeader1{
    margin-right: 60px;
    padding-top: 4px;
    padding-bottom: 4px;

}

.Texto-Header1{
    font-size: 18px;
    font-weight: 400;
    background: none;
    border: none;
    color: #F3F3F3;
    
}


.contenedor-padreHeader2{
    display: flex;
    justify-content: space-between;
    background-color: #F0A83E;
    color:#F3F3F3;
}

.texto-Front{
    color: #3C2313;
    font-size: 23px;
    font-weight: bold;
}

.textoCat{
    color: #FFFFFF;
    font-size: 23px;
    font-weight: bold;
}

.contenedor-front{
    padding-left:41px;
    padding-top:20px;
    padding-bottom: 20px;
}

.contenedor-categorias{
    padding-right: 40px;
}

.contenedor-categorias ul li{
    display: inline-block;
    padding-right: 20px; 
    padding-top: 24px;
    padding-bottom: 24px; 
    
}
.contenedor-categorias ul li a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;


}

.contenedor-bowl{
    display: flex;
    background-image: url(/img/bowl.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 410px;
    justify-content: flex-end;
    text-align: center;
 
}



.contenedor-texto-placer{
    margin-right: 25px;
    margin-top: 156px;
  
    
}

.texto-placer{
    font-size: 30px;
    color: #3C2313;
    background-color: #FFFFFF;
    padding: 10px 10px;
}

.texo-comederos{
    font-size: 16px;
    color: #3C2313;
    font-weight: 400;
}

.boton-comederos{
    display: inline-block;
    background-color: #F0A83E;
    padding: 15px 23px;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
  
}

.texto-destacados{
    color: #3C2313;
    font-size: 40px;
    font-weight: bold;
}

.lista{
list-style: none;

}

.lista a{
    text-decoration: none;
    font-size: 16px;
    color: #666666;
    padding-right: 13px;
    
}

.lista li{
    display: inline-block;
}

.contenedor-tituloMain{
    padding-top: 25px;
    text-align: center;
    margin-bottom: 49px;
    
}

.contenedor-productos{
    display: flex;
    justify-content: center;
}

.contenedor-productos img{
    padding-right: 20px;
}

.contenedor-descripciones{
    background-color: #FBFAF6;
    margin-right: 20px;
}

.contenedor-descripciones span{
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.descripcion{
    color: #3C2313;
    font-weight: 500;
    font-size: 15px;

}

.precio{
    color: #F0A83E;
    font-weight: 500;
    font-size: 15px;
}

.contenedor-contactanos{
    display: flex;
    justify-content: center;
    margin-top: 78px;
}

.texto-contactanos{
    color: #3C2313;
    font-size: 25px;
    font-weight: 700;
}

.contenedor-formulario{

    text-align: center;
    
    
    
}

.contenedor-formulario input{
    background-color: #3C2313;
    border-radius: 12px;
    width: 340px;
    height: 40px;
    
}

::placeholder{
    color: #FFFFFF;
    padding-left: 14.11px;
    font-size: 9px;
    font-weight:400;
}

.boton-resetear{
    background-color: #8A8787;
    color: #FFFFFF;
    font-size: 16px;
    border-radius: 15px;
    border: none;
    padding-left: 22px;
    padding-right: 25px;
    padding-top: 8px;
    padding-bottom: 7px;
}

.boton-enviar{

    background-color: #F0A83E;
    color: #FFFFFF;
    font-size: 16px;
    border-radius: 15px;
    border: none;
    padding-left: 32px;
    padding-right: 34px;
    padding-top: 8px;
    padding-bottom: 7px;

}


